[submodule "windows_provisioner/core"]
	path = windows_provisioner/core
	url = https://github.com/STARTcloud/core_provisioner
	branch = submodule
[submodule "windows_provisioner/provisioners/ansible_collections/startcloud/hcl_roles"]
	path = windows_provisioner/provisioners/ansible_collections/startcloud/hcl_roles
	url = https://github.com/STARTcloud/hcl_roles
[submodule "windows_provisioner/provisioners/ansible_collections/startcloud/startcloud_roles"]
	path = windows_provisioner/provisioners/ansible_collections/startcloud/startcloud_roles
	url = https://github.com/STARTcloud/startcloud_roles
